iOS/IOS-WS/IOS-WS/Web References/WS/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.0.1.6:81/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="TesteDados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TesteDadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TesteDadosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TesteInformacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Info" nillable="true" type="q1:Informacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TesteInformacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="TesteInformacaoResult" nillable="true" type="q2:Informacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>